.App {
  text-align: center;
  background-color: bisque;
  padding: 20px;
  
  
}

button {
  height: 100px;
  width: 100px;
  background-color: darkorange;
  border-radius: 60px;
  margin: 20px;
}

button :hover {
  background-color: antiquewhite;
  cursor: pointer;
}
